<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="oracle.eclipse.tools.jaxrs.application.launchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.jboss.resteasy.core.AsynchronousDispatcher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CartRest"/>
</launchConfiguration>
