<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>ShoppingCart_WAR</display-name>

	<servlet>
		<servlet-name>shoppingCartServlet</servlet-name>
		<servlet-class>
			com.oracle.enterprisetest.jsca.cart.ShoppingCartServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SignOffServlet</servlet-name>
		<servlet-class>
			com.oracle.enterprisetest.jsca.cart.SignOffServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>shoppingCartServlet</servlet-name>
		<url-pattern>/ShoppingCart</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SignOffServlet</servlet-name>
		<url-pattern>SignOffServlet/*</url-pattern>
	</servlet-mapping>

</web-app>